body{
    margin:0;
    padding:20px;
    font-family:Arial, sans-serif;

    background:linear-gradient(
        180deg,
        #120136,
        #4b0082,
        #ff0080
    );

    color:white;
    min-height:100vh;
}

.contenedor{
    max-width:1000px;
    margin:auto;
}

.tarjeta{
    background:rgba(0,0,0,.8);

    padding:30px;

    border-radius:15px;

    border:2px solid #00ffff;

    box-shadow:
    0 0 15px #00ffff,
    0 0 30px #ff00ff;
}

.oculto{
    display:none;
}

h1{
    text-align:center;
}

#nivelInfo{
    text-align:center;
    margin-bottom:20px;
    font-size:1.3rem;
    font-weight:bold;
}

#progreso{
    width:100%;
    height:25px;

    background:#222;

    border-radius:30px;

    overflow:hidden;

    margin-bottom:20px;
}

#barra{
    width:0%;
    height:100%;

    background:linear-gradient(
        90deg,
        #00ffff,
        #ff00ff
    );

    transition:.5s;
}

.pregunta{
    background:rgba(255,255,255,.1);

    padding:20px;

    border-radius:15px;

    border-left:5px solid #00ffff;

    margin-bottom:20px;
}

label{
    display:block;
    margin:10px 0;
}

input[type=text],
textarea{
    width:100%;
    padding:10px;

    border:none;

    border-radius:10px;

    margin-top:10px;
}

textarea{
    height:120px;
}

button{
    width:100%;

    padding:15px;

    font-size:1rem;

    font-weight:bold;

    border:none;

    border-radius:12px;

    cursor:pointer;

    color:white;

    background:linear-gradient(
        90deg,
        #ff00ff,
        #00ffff
    );
}

button:hover{
    transform:scale(1.02);
}

.feedback{
    margin-top:15px;
    padding:15px;
    border-radius:10px;
}

.feedback-correcta{
    background:linear-gradient(
        135deg,
        #1b8a3e,
        #2ecc71
    );

    border-left:7px solid #ffffff;

    border-radius:12px;

    padding:20px;

    margin:20px 0;

    box-shadow:
        0 0 15px rgba(46,204,113,.5);

    color:white;
}

.feedback-incorrecta{
    background:linear-gradient(
        135deg,
        #b22222,
        #ff4d4d
    );

    border-left:7px solid #ffffff;

    border-radius:12px;

    padding:20px;

    margin:20px 0;

    box-shadow:
        0 0 15px rgba(255,77,77,.5);

    color:white;
}

.feedback-correcta h3,
.feedback-incorrecta h3{
    margin-top:0;
}

.feedback-correcta .estado{
    font-size:1.2rem;
    font-weight:bold;
}

.feedback-incorrecta .estado{
    font-size:1.2rem;
    font-weight:bold;
}

#resultado{
    margin-top:30px;
}

hr{
    border:1px solid rgba(255,255,255,.2);
}
